header ul li, h3, footer ul li {
  text-decoration: none;
  text-transform: uppercase; }

/* General Styles */
* {
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-family: "Open Sans";
  color: #F5FFFA;
  text-align: center;
  margin: 0; }

a {
  font-weight: normal;
  font-family: sans-serif;
  color: #F5FFFA;
  text-decoration: none;
  padding: 10px; }
  a:hover {
    font-weight: normal;
    font-family: sans-serif;
    color: #B0E0E6; }

img {
  max-width: 100%;
  vertical-align: top;
  margin: auto; }

/* Clear Fix */
.clearfix {
  overflow: auto; }

/* Header */
header {
  font-weight: 500;
  font-family: sans-serif;
  color: #F5FFFA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #9370db;
  padding: .5rem;
  padding-bottom: 1rem;
  /* Navigation */ }
  header ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0; }
    @media only screen and (min-width: 768px) {
      header ul {
        list-style-type: none;
        margin: 2rem 0;
        padding: 0 1rem;
        display: flex;
        flex-direction: row; } }
    header ul li {
      padding: 12px;
      margin: 12px 0;
      background-color: #fff;
      font-weight: 900;
      font-size: initial;
      display: inline-block;
      width: 90%; }
      @media only screen and (min-width: 768px) {
        header ul li {
          background-color: #9370db;
          padding: 0; } }
      header ul li a {
        font-weight: normal;
        font-family: sans-serif;
        color: #9370db; }
        @media only screen and (min-width: 768px) {
          header ul li a {
            color: #F5FFFA;
            padding: 0.5rem;
            border-bottom: solid 3px #B0E0E6;
            border-right: solid 3px #B0E0E6; } }
  @media only screen and (min-width: 768px) {
    header {
      display: flex;
      flex-direction: row; }
      header div {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 1rem; } }

/* Content */
h3 {
  font-weight: 400;
  font-family: sans-serif;
  color: black;
  text-align: center;
  margin: 2rem 0; }

section {
  font-weight: normal;
  font-family: sans-serif;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #fff;
  padding: 1rem;
  margin: 0; }
  section h4 {
    font-weight: 600;
    font-family: sans-serif;
    color: black; }
  @media only screen and (min-width: 768px) {
    section div {
      width: 48%;
      margin: 0 0.5%;
      padding: 0; } }
  @media only screen and (min-width: 1024px) {
    section div {
      width: 30%;
      margin: 0 0.5%;
      padding: 0.25rem; } }

/* Footer */
footer {
  font-weight: normal;
  font-family: sans-serif;
  color: #F5FFFA;
  background-color: #4b0082;
  padding: 1rem; }
  footer h3 span {
    font-weight: 400;
    font-family: sans-serif;
    color: #F5FFFA;
    border-bottom: 3px solid #B0E0E6; }
  footer p {
    font-weight: 300;
    font-family: sans-serif;
    color: #F5FFFA; }
  footer span {
    font-weight: 600;
    font-family: sans-serif;
    color: #F5FFFA; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline; }

/* Media Queries for Footer Content */
@media only screen and (min-width: 768px) {
  #footer-info {
    width: 50%;
    margin: auto;
    padding: 0; }

  #mobile-footer {
    display: none; }

  #sub-footer {
    border-top: 1px solid #B0E0E6;
    padding: 0 2rem; } }
#tablet-desktop-footernav {
  display: none;
  overflow: hidden; }
  @media only screen and (min-width: 768px) {
    #tablet-desktop-footernav {
      display: block;
      overflow: hidden; } }

/*# sourceMappingURL=application.css.map */
