
$header_bckgrd_color: #9370db;

$section_bckgrd_color: #fff;

$footer_bckgrd_color: #4b0082;

$text_color: #F5FFFA;

$secondary_text_color: black;

$border_color: #B0E0E6;



$headerNavBorder: solid 3px $border_color;



$tabletBreak: 768px;

$desktopBreak: 1024px;