/* General Styles */

* {
	box-sizing: border-box;
}

body {
  @include fontStyles(400, 'Open Sans', $text_color);
  text-align: center;
  margin: 0;
}

a {
  @include fontStyles($color: $text_color);
  text-decoration: none;
  padding: 10px;

  &:hover {
    @include fontStyles($color: $border_color);
  }
}

img {
  max-width: 100%;
  vertical-align: top;
  margin: auto;
}

/* Clear Fix */

.clearfix {
  overflow: auto;
}


