/* Content */

h3 {
	@include fontStyles($font-weight: 400, $color: $secondary_text_color);
	@extend %navTextStyle;
	text-align: center;
	margin: 2rem 0;
	}

section {
	@include fontStyles($color: $secondary_text_color);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: $section_bckgrd_color;
	padding: 1rem;
	margin: 0;

	h4 {
		@include fontStyles($font-weight: 600);
	}

	div {

	 @media only screen and (min-width: #{$tabletBreak}){
	 	@include divColumn(48%, 0 .5%, 0);
		}

		@media only screen and (min-width: #{$desktopBreak}) {
			@include divColumn(30%, 0 .5%, .25rem);
		}
	}
}